@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}
.slick-prev,
.slick-next {
  z-index: 3;
  transform: scale(2) !important;
}
.slick-prev {
  left: 16px !important;
}
.slick-next {
  right: 16px !important;
}
