/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
/* COMMON CSS HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  margin: 0 !important;
}
/* VARIABEL CSS HERE */
:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  /* COLOR VARIABEL */
  --primary-color: #19b5bc;
}
/* VARIABEL CSS HERE */
/* BODY CSS HERE */
html {
  line-height: 1.4;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-family: var(--secondary-font);
}
/* MAIN CSS HERE */
/* HEADER TOP CSS */
.header_top a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 5px;
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
}
.header_top a svg {
  height: 15px;
}
/* HEADER TOP CSS */
/* HEADER MENU */
.header_menu_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
}
.main_menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}
.main_menu ul li a {
  color: #222;
  font-weight: 600;
  display: block;
  font-size: 13px;
}
/* HEADER LOGIN SIGN UP */

.login_signup {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.login_signup a {
  display: inline-block;
  color: #19b5bc;
  font-size: 14px;
  font-weight: 600;
}
/* HERO SECTION */
.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_content_text {
  text-align: center;
}
.hero_content_text h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
}
.hero_content_text p {
  font-size: 18px;
  color: #fff;
}
/* Hero content Search Box */
.hero_content_input_ct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_content_input_ct input {
  padding: 8px 10px;
}
/* Hero Submenu */
.hero_submenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.hero_submenu ul li a {
  color: #fff;
  font-size: 14px;
  transition: 0.3s all ease-in-out;
}
.hero_submenu ul li a:hover {
  text-decoration: underline;
}
/* SECTION PLANING */
.planing {
  padding: 50px 0;
}
.planing_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.planing_single_items a svg {
  height: 54px;
  width: 54px;
  display: block;
  margin: 0 auto;
}
.planing_single_items a span {
  text-align: center;
  display: block;
  font-size: 16px;
  color: #222;
  max-width: 80%;
  line-height: 24px;
  margin: 0 auto;
}
.planing_single_items a:hover span {
  color: #19b5bc;
}
/* Planing Btns */
.planing_btns {
  text-align: center;
  padding-top: 30px;
}
.planing_btns a {
  display: block;
}
.planing_btns a.planing_btn_one {
  padding: 10px 30px;
  background: #19b5dc;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.planing_btns a.planing_btn_two {
  color: #19b5bc;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}
.planing_btns a.planing_btn_two:hover {
  text-decoration: underline;
}
/* WADDING BAGE */
.wedding_bage {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
/* WADDING BAGE */
/* REAL WEDDING PAGE */
.section_header {
  text-align: center;
}
.section_title {
  font-family: var(--primary-font);
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.section_pragrap {
  font-size: 18px;
  line-height: 28px;
  color: #8c8c8c;
  margin-bottom: 25px;
}
.section_stater_title {
  color: #8c8c8c;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}
.homeSection__textSeparator {
  content: "";
  border-bottom: 1px solid #dcdcdc;
  width: 100px;
  display: inline-block;
  margin-bottom: 25px;
}
/* REAL WEDDING CP ITEMS */
.real_wedding {
  padding-bottom: 50px;
}
.real_box_single_item {
  width: 265px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
}
.box_single_sp {
  display: flex;
  align-items: center;
}
.top_thumb {
  overflow: hidden !important;
  display: block;
  height: 100%;
  width: 100%;
}
.top_thumb img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: 0.4s all ease-in-out;
}
.box_single_sp {
  display: flex;
  align-items: center;
  column-gap: 1px;
}
.box_single_sp a {
  display: block;
  overflow: hidden;
}
.box_single_sp a img {
  transform: scale(1);
  transition: 0.4s all ease-in-out;
}
.box_single_sp a img:hover {
  transform: scale(1.1);
}
.top_thumb img:hover {
  transform: scale(1.2);
}
.box_single_sp a {
  max-height: 60px;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}
.box_single_sp a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bottom_thumb_more {
  position: relative;
  display: block;
}
.more_thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
/* REAL WEDDING PAGE */
/* WEDDING IDEAS */
.wedding_ideas {
  padding: 50px 0 130px 0;
  background: #fff;
}
.wedding_ideas_cp_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.cp_single_item p {
  color: #222;
  font-size: 14px;
}
.cp_single_item .cp_link img {
  border-radius: 50%;
}
.cp_single_item .cp_link p {
  margin: 15px 0;
}
.cp_single_item .cp_link:hover p {
  color: var(--primary-color);
}
.wedding_tips_items {
  padding-top: 30px;
}
.wedding_tips_single_item {
  width: 262px;
  text-align: center;
}
.wedding_tips_single_item .tips_thumb {
  overflow: hidden;
  display: block;
}
.wedding_tips_single_item:hover .tips_thumb img {
  transform: scale(1.2);
}
.wedding_tips_single_item .tips_thumb img {
  height: 100%;
  transition: 0.3s all ease-in-out;
  width: 100%;
  transform: scale(1);
  border-radius: 8px;
}
.tips_text {
  padding: 15px;
  padding-bottom: 0px;
}
.tips_text p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #8c8c8c;
  display: block;
}
.tips_text h4 a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #222;
  display: block;
  margin-top: 10px;
  font-family: var(--primary-font);
}
.tips_text h4 a:hover {
  color: var(--primary-color);
}
/* WEDDING IDEAS */
/* WEDDING FORUM */
.wedding_forums {
  background: #f8f8f8;
  padding: 90px 0 50px 0;
}
.wedding_forum_content {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
}
.forum_header {
  flex: 0 0 26%;
}
.forum_profile {
  flex: 0 0 74%;
}
.wedding_forum_content .section_header,
.wedding_forum_content .section_title,
.wedding_forum_content .bage_btn {
  text-align: left;
}
.wedding_forum_content .section_title {
  font-size: 30px;
}
.wedding_forum_content .section_pragrap {
  font-size: 16px;
}
.wedding_forum_content .bage_btn {
  margin-top: 15px;
}
.forum_single_profile {
  display: flex;
  align-items: center;
  position: relative;
}
.forum_single_profile img {
  border-radius: 50%;
  width: 50px;
}
.forum_single_details {
  position: absolute;
  left: 0;
  top: -250px;
  height: 220px;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
  background-color: #fff;
}
.forum_single_details h3 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.forum_single_details p {
  font-size: 15px;
}
/* WEDDING FORUM */
/* WEBSITE SECTION */
.website {
  padding: 50px 0;
  background: #fff;
}
.website_single_item {
  display: grid;
  justify-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-top: 10px;
  height: 310px;
  width: 370px;
}
.webiste_image_box .top_thumb {
  width: 252px;
  height: auto;
  margin: 0 auto;
  border: 3px solid #222;
  border-radius: 8px;
}
.webiste_image_box .thumb_small {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 99;
  width: 96px;
  height: auto;
  border-radius: 8px;
  border: 3px solid #222;
}
.webiste_image_box span {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  background: #fff;
  padding: 10px;
  font-size: 14px;
  color: #222;
}
/* WEBSITE SECTION */
/* SHOPE SECTION */
.shope {
  padding: 50px 0;
  background: #fff;
}
.shope_single_item {
  text-align: center;
  display: block;
  width: 250px;
}
.shope_single_item img {
  height: auto;
  height: 100%;
  width: 100%;
}
.shope_single_item span {
  color: #222;
  margin: 4px 0 15px;
  font-size: 14px;
}
/* SHOPE SECTION */
/* GALLERY SECTION */
.gallery {
  padding: 50px 0;
}
.gallery_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 40px;
}
.gallery_btn a {
  border: 1px solid #d9d9d9;
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 15px;
  color: #222;
}
.gallery_btn a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.gallery_item_box {
  width: auto;
  display: block;
}
.gallery_item_box img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.gallery__box {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.gallery__box:hover .view_cl {
  bottom: 0;
}
.view_cl {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -40px;
  opacity: 1;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  font-weight: 500;
  color: #fff;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6);
}
.gallery_name {
  margin: 10px 0;
  color: #222;
  font-weight: 500;
  display: block;
  font-size: 15px;
}
.plan_header .section_pragrap {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}
.plan_header {
  margin-bottom: 30px;
}
.planing_slide_item a {
  display: block;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}
/* GALLERY SECTION */
/* CATERGORY SECTION */
.category {
  padding: 70px 0 50px 0;
}
.category_content {
  padding-top: 30px;
}
.category_content .col-md-4 {
  padding-right: 0;
}
.category_content .col-md-8 {
  padding-left: 5px;
}
.category_big_banner,
.category_small_banner {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 50px 20px;
  background-position: center;
  background-size: cover;
  color: #fff;
  background-image: url("../img/bg_category-banner_1.jpg");
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.category_big_banner {
  background-image: url("../img/bg_category-banner_2.jpg");
}
.banner_shape:hover {
  color: #fff;
}
.banner_shape {
  position: relative;
}
.banner_shape::before {
  position: absolute;
  content: "";
  background-image: url("../img/bg_category-shape.png");
  left: 0;
  right: 0;
  bottom: -1px;
  text-align: center;
  margin: 0 auto;
  z-index: 99;
  height: 15px;
  width: 45px;
  background-repeat: no-repeat;
}
/* CATERGORY LIST ITEM */
.category_list_single_item {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category_list_single_item.c_l_b_s_i {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.category_list_single_item li a {
  font-size: 12px;
  color: #222;
}
.category_list_single_item li a:hover {
  color: var(--primary-color);
}
/* CATERGORY SECTION */
/* BANQUET SECTION  */
.banquet {
  border: 1px solid #d9d9d9;
  border-left: none;
  border-right: none;
  padding: 20px 0 60px 0;
  position: relative;
}
.banquet::before {
  position: absolute;
  content: "";
  background-image: url(../img/banquet/bg_banquet_header_banner.jpg);
  height: 100%;
  width: 40%;
  right: 0;
  top: 0;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background-position: center;
  background-size: cover;
}
.banquet_header ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.banquet_header ul > li a {
  color: #6c6c6c;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.5rem;
  font-size: 15px;
  position: relative;
  font-family: var(--secondary-font);
}
.banquet_header ul > li a::before {
  position: absolute;
  content: "/";
  left: -15px;
}
.banquet_header ul > li:nth-child(1) a::before {
  position: absolute;
  content: "";
}
.banquet_title {
  font-family: var(--primary-font);
  font-size: 2.1rem;
  font-weight: 700;
  grid-area: title;
  line-height: 2.6875rem;
  line-height: clamp(2.25rem, 1.77273rem + 1.59091vw, 3.125rem);
  margin-top: 20px;
  margin-bottom: 15px;
}
.banquet_header form {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  max-width: 630px;
  border-radius: 8px;
  overflow: hidden;
}
.banquet_header form .form_control input[type="text"] {
  padding-left: 40px;
}
.banquet_header form .form_control {
  position: relative;
}
.banquet_header form .form_control input {
  padding: 15px;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
  margin: 0;
}
.banquet_header form .form_control span,
.banquet_header form .form_control svg {
  position: absolute;
  height: 15px;
  width: 20px;
  left: 12px;
  top: 16px;
  display: block;
}
.banquet_header form .form_control span {
  top: 12px;
}
.banquet_header form .form_control input[type="submit"] {
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-family: var(--secondary-font);
  padding: 15px 20px;
  border: 1px solid var(--primary-color);
  outline: none;
}
.banquet_header form .form_control input[type="submit"]:hover {
  background: #169fa5;
}
/* BANQUET SECTION  */
/* LOGIN PAGE HERE */
.login_header {
  margin-top: 30px;
}
.login_header .login_logo {
  display: flex;
  justify-content: center;
  height: 30px;
  width: auto;
}
.login_box {
  padding: 15px;
}
.login_content {
  width: 850px;
  display: flex;
  border: 1px solid #e8e8e8;
  margin: 5px auto;
  background: #fff;
}
.login_content_banner {
  width: 40%;
  background-image: url("https://cdn1.weddingwire.com/assets/img/layer-alta/default_en-US.jpg");
  background-position: center;
  background-size: cover;
}
.login_content_form_box {
  padding: 60px 80px;
  width: 60%;
}
h3.login_form_title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
  color: #222;
}
.login_join_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 10px;
}
.login_join_btn span {
  color: #8c8c8c;
}
.login_join_btn a {
  color: var(--primary-color);
}
.login_buttons {
  padding: 15px 0 30px 0;
}
.login_buttons a {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #222;
  font-family: var(--secondary-font);
  font-weight: 400;
}
.login_buttons a img {
  height: 21px;
  width: 20px;
  margin-right: 5px;
}
.login_buttons a svg {
  height: 20px;
  margin-right: 10px;
}
.email_login_title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}
.email_login form input {
  font-size: 16px;
  line-height: 24px;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  outline-style: none;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.email_login form .forgotten-password {
  font-size: 14px;
  line-height: 21px;
  color: #222;
  padding-top: 8px;
  float: right;
  margin-top: -20px;
}
.email_login form .forgotten-password:hover {
  color: var(--primary-color);
}
.email_login form input[type="submit"] {
  background-color: var(--primary-color);
  padding: 12px 15px;
  color: #fff;
  border-radius: 8px;
  margin-top: 30px;
}
.email_login form input[type="submit"]:hover {
  background-color: #169fa5;
}
.vendor_login {
  text-align: center;
  margin-top: 15px;
}
.vendor_login p {
  color: #8c8c8c;
}
.vendor_login a {
  font-weight: 600;
  color: #222;
  margin-top: 10px;
  display: block;
}
.vendor_login a:hover {
  color: var(--primary-color);
}
/* LOGIN FOOTER */
.login_footer_content {
  text-align: center;
  font-size: 14px;
}
.login_footer_content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_login_country li a,
.login_footer_content li a {
  color: #8c8c8c;
  padding: 0 5px;
  font-size: 13px;
}
.footer_login_country li a:hover,
.login_footer_content li a:hover {
  color: var(--primary-color);
}
.footer_login_country li span {
  font-size: 13px;
}
.layout-auth-footer-copyright {
  text-align: center;
  margin-top: 10px;
  color: #8c8c8c;
}
.login_footer_copyright {
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
  color: #8c8c8c;
}
/* LOGIN PAGE HERE */
/* SIGNUP PAGE */
.signup_content_form_box {
  width: 60%;
}
.signup_buttons {
  padding: 25px 80px;
}
.signin_email_form {
  padding: 20px 40px;
}
.signin_email_form h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* WEDDING FORM SUBMIT */
.form_control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.signin_email_form form input {
  width: 100%;
}

/* WEDDIN CHECK BOX */
.wedding_checkbox {
  display: flex;
  align-items: center;
}
.signup_name input,
.wedding_date input,
.form_control input,
.wedding_city input {
  border: none;
  padding: 2px 25px 8px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  border-bottom: 1px solid #d9d9d9;
}
.wedding_date {
  width: 50%;
}
.wedding_date input {
  padding-right: 0;
}
.email_field,
.signup_name {
  position: relative;
}
.email_field img,
.signup_name img {
  height: 18px;
  width: 18px;
  position: absolute;
  right: 0;
  bottom: 22px;
}
.check_guest input,
.check_planing input {
  width: 15px !important;
  height: 15px;
}
.check_guest label,
.check_planing label {
  cursor: pointer;
  font-size: 14px;
  margin-left: -3px;
}
.wedding_checkbox .shape {
  height: 15px;
  width: 1px;
  background: #d9d9d9;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}
.form-check input:focus,
.form-check input {
  outline: none;
  box-shadow: none;
}
.signup_tramp {
  font-size: 13px;
  color: #8c8c8c;
  margin-top: 20px;
  margin-bottom: 20px;
}
.signup_tramp a {
  color: #222;
}
.signup_tramp a:hover {
  color: var(--primary-color);
}
.signin_email_form form input[type="submit"] {
  background-color: var(--primary-color);
  padding: 12px 15px;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
}
.signin_email_form form input[type="submit"]:hover {
  background-color: #169fa5;
}
.already_signup {
  color: #8c8c8c;
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}
.wadding_bage_content {
  padding: 25px 0 30px;
  margin-top: 30px;
}
.already_signup a {
  color: var(--primary-color);
  font-weight: 500;
}
.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.bage_btn {
  text-align: center;
  margin-top: 40px;
}
.bage_btn a {
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
}
.bage_btn a:hover {
  text-decoration: underline;
}
.bage_text h2 {
  font-weight: 700;
  padding-bottom: 10px;
  position: relative;
}
.bage_text h2 span {
  font-size: 14px;
  color: #8c8c8c;
  position: absolute;
  right: -10px;
}
.bage_text p {
  color: #8c8c8c;
  font-weight: 500;
}
/* REAL WEDDING */
